@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

@tailwind base;
@tailwind components;

.sidebar-go{
  transform: translateX(-510px);
}

.sidebar-come{
  transform: translateX(0);
}

.bar {
  border:5px solid rgb(209, 213, 219);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.bar--orange {
  border-bottom-color:  rgb(253, 186, 116);
  border-right-color:  rgb(253, 186, 116);
}

.bar--green {
  border-bottom-color:  rgb(16, 185, 129);
  border-right-color:  rgb(16, 185, 129);
}

.nunito {
  font-family: "Nunito", sans-serif;
}

/*login-input*/

.login-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  padding: 27px 27px 0;
  font-size: 16px;
  font-weight: 600;
  color: #888A96;
  cursor: text;
  transition: all .2s ease;
}

.login-input:focus + .login-label,
.login-input:valid + .login-label {
  color: #355DFF;
  top: -14px;
  left: 0;
  font-size: 14px;
  font-weight: 600;
}


/*.login-input:focus + .login-label {
/*  color: #355DFF;*/
/*}*/

/**/

/*.animate:hover {*/
/*  box-shadow: 5px 5px #53ea93, 4px 4px #53ea93, 3px 3px #53ea93, 2px 2px #53ea93,*/
/*    1px 1px #53ea93;*/
/*  transform: translateX(-7px);*/
/*}*/

/* .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #53ea93;
  border-radius: 4px;
  transition: all 0.5s ease-in;
}

.link:hover {
  color: #fff;
  z-index: 5;
}

.link:hover::before {
  width: 100%;
} */

/**/
.green-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.green-checkbox + label {
  display: flex;
  align-items: center;
}

.green-checkbox + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
  border: 2px solid #888A96;
}

.green-checkbox:checked + label::before {
  background-image: url("../img/checkbox.svg");
  border: 2px solid #2DB571;
}
/**/

.green-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.green-radio + label {
  display: flex;
  align-items: center;
  user-focus: none;
}

.green-radio + label::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  border: 2px solid #888A96;
}

.green-radio:checked + label::before {
  background-image: url("../img/radio.svg");
  border: 2px solid #2DB571;
}
/**/


/* red */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: flex;
  align-items: center;
  user-select: none;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #ff4d33;
}

.custom-radio:checked + label::before {
  background-color: #ff4d33;
}

/* gray */

.custom-radio-gray {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio-gray + label {
  display: flex;
  align-items: center;
  user-select: none;
}

.custom-radio-gray + label::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #dee0e3;
}

.custom-radio-gray:checked + label::before {
  background-color: #dee0e3;
}

/* green */

.custom-radio-green {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio-green + label {
  display: flex;
  align-items: center;
  user-select: none;
}

.custom-radio-green + label::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #2db571;
}

.custom-radio-green:checked + label::before {
  background-color: #2db571;
}

/*stars*/

.stars-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}

.stars-rating::before {
  content: "★★★★★";
  display: block;

}

.stars-rating__stars {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stars-rating__star {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  visibility: hidden;
  opacity: 0;
}

.stars-rating__label-star {
  flex: 0 0 20%;
  cursor: pointer;
  height: 100%;
  color: #ffff;
}

.stars-rating__label-star::before {
  content: "★";
  display: block;
  transition: color .3s ease-in;
}

.stars-rating__star:checked,
.stars-rating__star:checked ~ .stars-rating__label-star {
  color: #FCA964;
}

.stars-rating__label-star:hover,
.stars-rating__label-star:hover ~ .stars-rating__label-star,
.stars-rating__label-star:checked ~ .stars-rating__label-star:hover {
  color: #FCA964;
}

/*tabs*/

.tabs-content {
  display: none;
}

.tabs-content:target {
  display: block;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
}
.lds-ellipsis div {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 5px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 5px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 22px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 37px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(15px, 0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.sf-pro {
  font-family: "SF Pro Display", sans-serif;
}

@tailwind utilities;


body {
  font-family: "Montserrat", sans-serif;
}

html, body {
  min-height: 100%;
  min-width: 1440px;
}


